:local(.sideBar) {
    width: 420px;
    position: fixed;
    left: 0px;
    top:0;
    transition: right 0.5s, 0.5s ease-out;
    background-color: rgba(59, 61, 64, 0.5);

}

:local(.sideBar a) {
    color: #fff;
    display: block;

}

:local(.sideBar.hide) {
    right: -420px;
}

:local(.sideBar div) {
    line-height: 60px;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
}

:local(.sideBar div:hover) {
    background: rgba(54, 59, 93, 0.5);
}

:local(.sideBar div.checked) {

}

@media screen and (max-width: 750px) {
    :local(.sideBar) {
        width: 220px;

    }
}
