* {
    padding: 0;
    margin: 0
}

.allWrap{
    position: relative;
}
.allWrap .point1 {
    top: 723px;
    left: 68px;


}

.allWrap .point2 {
    top: 626px;
    left: 400px;

}

.allWrap .point3 {
    top: 714px;
    left: 888px;

}

@keyframes imgMove {
    from {
        top: 150px;

    }
    to {
        top: 0px;

    }
}

@keyframes pMove {
    0% {
        top: 31px;

        display: none;

    }
    100% {
        top: 0px;
        display: block;

    }
}

.flexWrap {
    display: block;

}

.allWrap a{
    position: relative;
    color: #ffffff;
}

.allWrap>a{
    position: absolute;
}

.flexWrap .imgWrap {
    position: relative;
    width: 36px;
    height: 74px;
    overflow: hidden;
    margin: 0 auto;

}

.flexWrap .imgWrap img {
    position: absolute;
    top: 75px;
    opacity: 0.6;
}

.allWrap .point1 img {
    animation: imgMove 0.4s ease;
    animation-fill-mode: forwards;
    width: 100%;
}

.allWrap .point1 p {
    animation: pMove 0.4s ease 0.4s;
    animation-fill-mode: forwards;
}

.allWrap .point2 img {
    animation: imgMove 0.4s ease 0.8s;
    animation-fill-mode: forwards;
    width: 100%;
}

.allWrap .point2 p {
    animation: pMove 0.4s ease 1.2s;
    animation-fill-mode: forwards;
}

.allWrap .point3 img {
    animation: imgMove 0.4s ease 1.6s;
    animation-fill-mode: forwards;
    width: 100%;
}

.allWrap .point3 p {
    animation: pMove 0.4s ease 2.0s;
    animation-fill-mode: forwards;
}

.allWrap .pWrap {
    position: relative;
    height: 31px;
    width: 350px;
    overflow: hidden;
    text-align: center;

}

.allWrap .pWrap .p {
    position: absolute;
    top: 31px;
    width: 350px;
    opacity: 0.8;

}
.p1{
    font-size: 24px;
}
.p2{
    font-size: 20px;
}
.point3 .pWrap{
    width: 200px;
}
.point3 .pWrap .p{
    width: 200px;
}
.allWrap .pLast {
    opacity: 0;
    font-size: 16px;
    text-align: center;
}

.allWrap .itemWrap:hover img {
    opacity: 1;

}

.allWrap .itemWrap:hover .imgWrap {
    opacity: 1;
    width:44px;
    transition: width 0.3s, 0.3s ease-out;
}

.allWrap .itemWrap:hover .p {
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.5s;

}

.allWrap .itemWrap:hover .pLast {
    opacity: 1;
    transition: opacity 0.5s
}
@media screen and (min-width: 1200px) {
    .allWrap .point3 {
        top: 729px;
        left: 958px;

    }
}

