html,
body {
    margin: 0;
    font-family: Avenir Next LT Pro;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

footer,
header {
    color: #fff;
    text-align: center;
    padding: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #556270;
}

footer {
    color: #000;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

a.active,
a:hover {
    color: #5262ff;
}
button {
    width: 50px;
    padding: 8px;
}

.btnGroup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
}

.first {
    background-image: url("./images/banner.png");
    height: 1000px;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.second {
    background-color: #fff;
    height: 1000px;
    padding-top: 70px;
    display: block;
}

.secongContent {
    width: 1200px;
    margin: 0 auto;
}

.secongHeaderT {
    font-size: 72px;
    color: #3B3D40;
    display: block;
    line-height: 92px;
    font-weight: bold;
}

.secongHeaderB {
    font-size: 72px;
    color: #5262ff;
    display: block;
    line-height: 92px;
    font-weight: bold;
}

.secongContentB {
    margin-top: 60px;
}

.secongContentBI {
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: 20px;
}

.secongContentBT {
    font-size: 24px;
    color: #3B3D40;
    display: block;
    line-height: 24px;
    margin-bottom: 20px;
}

.secongContentBC {
    font-size: 18px;
    line-height: 30px;
    color: #989898;
    display: block;
    width: 1200px;
}

.third {
    background-image: url("./images/sectionBg.png");
    height: 1000px;
    background-position: center;
    display: block;
}

.thirdContent {
    width: 1200px;
    margin: 0 auto;
    padding-top: 300px;
}

.thirdContentT {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 60px;
}

.thirdContentC {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.fourth {
    height: auto;
    background-color: #FAFAFA;
    display: block;
    padding-bottom: 60px;
}

.fourthContent {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.fourthHeaderT {
    display: block;
    color: #3B3D40;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fourthHeaderC {
    display: block;
    color: #3B3D40;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
}

.fourthContentLi {
    margin-top: 30px;

}
.fourthContentLi:after{
    display: block;
    content: '';
    clear: both;
}
.fourthContentLiI {
    width: 140px;
    height: 140px;
    display: block;
    margin-right: 80px;
    float: left;
}
.fourthContentLiC {
    float: left;
    padding-top: 4px;
}
.fourthContentLiCH {
    display: block;

}
.fourthContentLiCH:after {
    display: block;
    clear: both;
    content: '';
}
.fourthContentLiCHS {
    color: #989898;
    font-size: 16px;
    float: left;
    font-weight: bold;
}
.fourthContentLiCHA{
    color: #989898;
    margin-left: 20px;
}
.fourthContentLiCHA:hover{
    color: #5262ff;
}
.fourthContentLiCHI {
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 2px;
    margin-right: 12px;
}
.fourthContentLiCC {
    display: block;
    width: 950px;
    margin-top: 20px;
    color: #989898;
    font-size: 16px;
    line-height: 30px;
}

@font-face {
    font-family: 'iconfont';  /* project id 717126 */
    src: url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.eot');
    src: url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.woff') format('woff'),
    url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.logoBox{
    width: 1200px;
    margin-top: 10px;
}
.logoBox:after{
    display: block;
    clear: both;
    content: '';
}
.logoBox>div{
    width: 16.6%;
    float: left;
    margin-top: 30px;
}
.logoBoxT{
    display: block;
    width: 132px;
    height: 80px;
    background-color: #0e80d2;

}
.fourthContentLiCHSL{
    font-weight: lighter;
}


.fifth{
    height: 1000px;
    background-color: #fff;
    display: block;
}

.fifthContent{
    width: 1200px;
    margin: 0 auto;
    padding-top: 190px;
}
.fifthHeaderT{
    display: block;
    font-size: 72px;
    color: #3B3D40;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.fifthHeaderC{
    display: block;
    font-size: 24px;
    color: #989898;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.fifthContentC{
    display: block;
    font-size: 24px;
    color: #989898;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
}
.fifthContentCL{
    float: left;
    width: 50%;
}
.fifthContentCR{
    float: right;
    width: 50%;
    padding-left: 20px;
}
.fifthContentCLT{
    display: block;
    font-size: 18px;
    color: #989898;
    line-height: 40px;
    text-align: left;
}
.fifthContentCLTA{
    background-color: #f6f6f6;
    border: none;
    resize:none;
    padding: 16px;
    color: #3B3D40;
    width: 580px;
    height: 180px;
    float: left;
    font: 400 18px Arial;
}
.fifthContentCLTI{
    font-size: 18px;
    background-color: #f6f6f6;
    border: none;
    resize:none;
    padding: 16px;
    color: #3B3D40;
    width: 580px;
    height: 60px;
    float: left;
}
.fifthContentCLTID{
    font-size: 18px;
    background-color: #f6f6f6;
    border: none;
    resize:none;
    padding: 16px;
    color: #3B3D40;
    width: 340px;
    height: 60px;
    float: left;
}
.fifthContentCLTBox2:after{
    display: block;
    clear: both;
    content: '';
}
.fifthContentCLTBox{
    margin-top: 20px;
}
.fifthContentCLTBox1{
    float: left;
}
.button{
    float: right;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: #5262ff;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    padding: 0;
}
.button:hover{
    opacity: 0.7;
    transition: all 0.3s;
}
.button[disabled]{
    opacity: 0.5;
    cursor: no-drop;
}

@media screen and (max-width: 750px) {
    .first {
        background-image: url("./images/bannerM.png");
        height: 195px;
        background-size: cover;
    }
    .second {
        padding-top: 30px;
        height: auto;
        padding-bottom: 50px;
    }
    .secongContent{
        width: 100%;
        padding: 0 16px;
    }
    .secongContentB {
        margin-top: 20px;
    }
    .secongHeaderT {
        font-size: 24px;
        line-height: 36px;
    }
    .secongHeaderB {
        font-size: 24px;
        line-height: 36px;
    }
    .secongContentBI {
        width: 24px;
        height: 24px;

    }
    .secongContentBT {
        font-size: 18px;
        color: #3B3D40;
        display: block;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .secongContentBC {
        font-size: 14px;
        line-height: 22px;
        color: #989898;
        display: block;
        width: 100%;
    }
    .third {
        height: auto;
        padding-bottom: 50px;
    }
    .thirdContent {
        width: 100%;
        padding: 0 16px;
        padding-top: 30px;
    }
    .thirdContentT {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .thirdContentC {
        font-size: 14px;
        line-height: 24px;

    }
    .fourth {
        height: auto;
        padding-bottom: 40px;
    }
    .fourthContent{
        width: 100%;
        padding: 0 16px;
        padding-top: 30px;
    }
    .fourthHeaderT {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .fourthHeaderC {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .fourthContentLiCC{
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
    }
    .fourthContentLi{
        margin-top: 40px;
    }
    .fourthContentLiCHI{
        margin-left: 10px;
    }
    .fourthContentLiCHSL{
        display: block;
    }
    .logoBox{
        width:100%;

    }
    .logoBox>div{
        width: 50%;
        float: left;
    }
    .logoBoxT{
       margin: 0 auto;
    }
    .fifth{
        height: 830px;
    }
    .fifthContent{
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .fifthHeaderT{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .fifthHeaderC{
        font-size: 14px;
        line-height: 20px;
    }
    .fifthContentCLT{
        font-size: 14px
    }
    .fifthContentC{
        margin-top: 40px;
        padding: 0 16px;
    }
    .fifthContentCL{

        width: 100%;
    }
    .fifthContentCR{
        width: 100%;
        padding-left: 0;
    }
    .fifthContentCLTA{

        width: 100%;
        height: 180px;
        float: left;
        font: 400 18px Arial;
    }
    .fifthContentCLTI{
        width: 100%;
        height: 60px;
        float: left;
    }
    .fifthContentCLTID{

        width:100%;

    }
    .fifthContentCLTBox1{
       float: none;
    }
    .button{
        width:100%;

    }


}
@media screen and (max-width: 375px) {
    .first {

        background-size: contain;
        background-position:0 0;
    }
}