*{
    font-family: Calibri,'Calibri11';
}
@font-face {
    font-family: 'Calibri11';
    src: url('./font/calibri.ttf') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/calibri.ttf')  format('truetype')/* Safari, Android, iOS */
}
html,
body {
    margin: 0;

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

footer,
header {
    color: #fff;
    text-align: center;
    padding: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #556270;
}

footer {
    color: #000;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

a.active{
    color: #5262ff;
}
button {
    width: 50px;
    padding: 8px;
}

.btnGroup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
}

.first {

    height: 1000px;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
.pointBox{
    width: 1200px;
    margin: 0 auto;
}
.bg {
    background-image: url("./images/banner.png");
}
.bgC {
    background-image: url("./images/bannerC.png");
}

.second {
    background-color: #fff;
    height: 1000px;
    padding-top: 70px;
    display: block;
}

.secongContent {
    width: 1200px;
    margin: 0 auto;
}

.secongHeaderT {
    font-size: 60px;
    color: #3B3D40;
    display: block;
    line-height: 92px;
    font-weight: bold;
}

.secongHeaderB {
    font-size: 60px;
    color: #5262ff;
    line-height: 92px;
    font-weight: bold;
}

.secongContentB {
    margin-top: 60px;
}

.secongContentBI {
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: 20px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}
.secongContentBI:hover{

    filter: grayscale(0%);
}

.secongContentBT {
    font-size: 24px;
    color: #3B3D40;
    display: block;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.secongContentBC {
    line-height: 36px;
    color: #989898;
    display: block;
    width: 1200px;
}
.secongContentBC1 {
    font-size: 24px;
    line-height: 36px;
    color: #989898;
    display: block;
    width: 1200px;
}
.secongContentBC2 {
    font-size: 20px;
    line-height: 36px;
    color: #989898;
    display: block;
    width: 1200px;
}


.third {
    background-image: url("./images/sectionBg.png");
    height: 1000px;
    background-position: center;
    display: block;
    width: 100%;
}

.thirdContent {
    width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
}

.thirdContentT {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.thirdContentC {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.thirdContentCBox {
    width: 100%;
    margin-top: 50px;
}
.thirdContentCBox:after{
    display: block;
    clear: both;
    content: '';
}
.thirdContentCBoxC {
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 94px;
}
.thirdContentCBoxC1 {
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin-right: 0;
}
.thirdContentCBoxC:last-child{
    margin-right: 0;
}
.thirdContent .exchangeList li{
    float: left;
    list-style-type: none;
    opacity: 0;
    width:240px;
    height: 244px;
}
.moreBox{
    opacity: 0;
}
.exchangeList:after{
    display: block;
    clear: both;
    content: '';
}
.thirdContent .exchangeList li a img{
    margin: 20px;
    transition: width 0.3s;
}

.thirdContent .exchangeList li a img:hover  {
    margin: 18px;
    width:204px;

}
.thirdContent .exchangeList1 li:nth-child(1){
    animation: toOne 0.3s ease 0s;
    animation-fill-mode: forwards;
}
.thirdContent .exchangeList1 li:nth-child(2){
    animation: toOne 0.3s ease 0.6s;
    animation-fill-mode: forwards;
}
.thirdContent .exchangeList1 li:nth-child(3){
    animation: toOne 0.3s ease 0.9s;
    animation-fill-mode: forwards;
}
.thirdContent .exchangeList1 li:nth-child(4){
    animation: toOne 0.3s ease 1.2s;
    animation-fill-mode: forwards;
}
.thirdContent .exchangeList1 li:nth-child(5){
    animation: toOne 0.3s ease 1.5s;
    animation-fill-mode: forwards;
}
.moreBox.exchangeList1{
    animation: toOne 0.3s ease 1.8s;
    animation-fill-mode: forwards;
}
@keyframes toOne {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Hline{
    width: 560px;
    height: 2px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    margin-top: 70px;
}
.thirdContentCC{
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
.cir{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    margin-bottom: 14px;
}
.more{
    margin: 0 auto;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 30px;
    font-weight: bold;
}
.fourth {
    height: auto;
    background-color: #fff;
    display: block;
    padding-bottom: 60px;
    width: 100%;
}

.fourthContent {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.fourthHeaderT {
    display: block;
    color: #3B3D40;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fourthHeaderC {
    display: block;
    color: #3B3D40;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

.fourthContentLi {
    margin-top: 30px;

}
.fourthContentLi:after{
    display: block;
    content: '';
    clear: both;
}
.fourthContentLiI {
    width: 140px;
    height: 140px;
    display: block;
    margin-right: 80px;
    float: left;
}


.fourthContentLiC {
    float: left;
    padding-top: 4px;
}
.fourthContentLiCH {
    display: block;

}
.fourthContentLiCH:after {
    display: block;
    clear: both;
    content: '';
}
.fourthContentLiCHS {
    color: #989898;
    font-size: 20px;
    float: left;
    font-weight: bold;
}
.fourthContentLiCHA{
    color: #989898;
    margin-left: 20px;
}
.fourthContentLiCHA:hover{
    color: #5262ff;
}
.fourthContentLiCHI {
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 2px;
    margin-right: 12px;
}
.fourthContentLiCC {
    display: block;
    width: 950px;
    margin-top: 14px;
    color: #989898;
    font-size: 18px;
    line-height: 20px;
}
.fourthContent .exchangeList li{
    float: left;
    list-style-type: none;
    opacity: 0;
    width: 200px;
    height: 94px;
}
.fourthContent .exchangeList li a{
    width: 200px;
    height: auto;
    display: block;
}

.fourthContent .exchangeList li a img{
    margin: 40px;
    margin-bottom: 0;
    filter: grayscale(100%);
    width:120px;
}

.fourthContent .exchangeList li a img:hover  {
    margin: 38px;
    width:124px;
    filter: grayscale(0%);
}


.fourthContent .exchangeList2 li:nth-child(1){
    animation: toOne 0.3s ease 0s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(2){
    animation: toOne 0.3s ease 0.6s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(3){
    animation: toOne 0.3s ease 0.9s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(4){
    animation: toOne 0.3s ease 1.2s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(5){
    animation: toOne 0.3s ease 1.5s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(6){
    animation: toOne 0.3s ease 1.8s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(7){
    animation: toOne 0.3s ease 2.1s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(8){
    animation: toOne 0.3s ease 2.4s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(9){
    animation: toOne 0.3s ease 2.7s;
    animation-fill-mode: forwards;
}
.fourthContent .exchangeList2 li:nth-child(10){
    animation: toOne 0.3s ease 3.0s;
    animation-fill-mode: forwards;
}

@font-face {
    font-family: 'iconfont';  /* project id 717126 */
    src: url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.eot');
    src: url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.woff') format('woff'),
    url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_717126_9gwfkeke57a.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.logoBox{
    width: 1200px;
    margin-top: 40px;
}
.logoBox:after{
    display: block;
    clear: both;
    content: '';
}
.logoBox>a{
    display: block;
    width: 16.6%;
    float: left;
    margin-top: 30px;
}
.logoBoxT{
    display: block;
    width: 132px;
    height: 80px;
    background-color: #0e80d2;

}
.logoBoxT:hover{
    outline: 1px solid #5262ff;

}
.fourthContentLiCHSL{
    font-weight: lighter;
    text-align: center;
}


.fifth{
    height: 1000px;
    background-color: #fff;
    display: block;
    width: 100%;
    background-image: url("./images/fiveBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fifthContent{
    width: 1200px;
    margin: 0 auto;
    padding-top: 190px;
}
.fifthHeaderT{
    display: block;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.fifthHeaderC{
    display: block;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.fifthContentC{
    display: block;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
}
.fifthContentCL{
    float: left;
    width: 50%;
}
.fifthContentCR{
    float: right;
    width: 50%;
    padding-left: 20px;
}
.fifthContentCLT{
    display: block;
    font-size: 18px;
    color: #989898;
    line-height: 40px;
    text-align: left;
}
.fifthContentCLTA{
    background-color: RGBA(255, 255, 255, .1);
    border: none;
    resize:none;
    padding: 16px;
    color: #fff;
    width: 580px;
    height: 180px;
    float: left;
    font: 400 18px Arial;
}
.fifthContentCLTI{
    font-size: 18px;
    background-color: RGBA(255, 255, 255, .1);
    border: none;
    resize:none;
    padding: 16px;
    color: #fff;
    width: 580px;
    height: 60px;
    float: left;
}
.fifthContentCLTID{
    font-size: 18px;
    background-color:RGBA(255, 255, 255, .1);
    border: none;
    resize:none;
    padding: 16px;
    color: #fff;
    width: 340px;
    height: 60px;
    float: left;
}
.fifthContentCLTBox2:after{
    display: block;
    clear: both;
    content: '';
}
.fifthContentCLTBox{
    margin-top: 20px;
}
.fifthContentCLTBox1{
    float: left;
}
.button{
    float: right;
    width: 200px;
    height: 60px;
    line-height: 60px;

    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
}
.nor{
    background-color: #5262ff;
}
.nor1{
    background-color: #7fd5ac;
}
.nor2{
    background-color: #f49193;
}

.button:hover{
    opacity: 0.7;
    transition: all 0.5s, 0.5s ease-out
}
.button[disabled]{
    opacity: 0.5;
    cursor: no-drop;
}
.six{
    height: 1000px;
    width: 100%;
    background-color: #FAFAFA;
    color: #3B3D40;
}
.sixthContent{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.sixthContenT{
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}
.sixthContenI{
    width: 24px;
    height: 20px;
    display: block;
    margin-top: 88px;
}
.sixthContenC{
    display: block;

    font-weight: bold;
    line-height: 36px;
    margin-top: 6px;
}
.sixthContenIB{
    display: block;
    width: 120px;
    height: 120px;
    margin-top: 125px;
    filter: grayscale(100%);
}
.sixthContenIB:hover{
    filter: grayscale(0%);
}
.sixthContenC1{
    font-size: 24px;
}
.sixthContenC2{
    font-size: 20px;
}
@media only screen and (min-width: 750px) and (max-width: 1240px) {
    .first {
        width: 100%;
        background-size: cover;
        height: 670px;
    }
    .pointBox{
        display: none;
    }
    .secongContent {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .secongContentBC1{
        width: 100%;
    }
    .secongContentBC2{
        width: 100%;
    }
    .third{
        height: auto;
        padding-bottom: 40px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .thirdContent{
        width: 100%;
        padding: 0 20px;
        padding-top: 100px;
    }
    .thirdContentCBoxC{
        width: 50%;
        margin-right: 0;
    }
    .fourthContent {
        width:100%;
        padding: 0 20px;
        padding-top: 40px;
    }
    .logoBox{
        width: 100%;
        margin-top: 40px;
    }
    .fifthContent{
        width: 100%;
    }
    .fifthContentCLTA{

        width: 100%;

    }
    .fifthContentCL{
        width: 100%;
        padding: 0 20px;
    }
    .fifthContentCR{
        width: 100%;
        padding: 0 20px;
    }
    .fifthContentCLTI{

        width: 100%;

    }
    .fifthContentCLTBox1{
        width: 54%;
    }
    .fourthContentLiCC{
        width: 100%;
    }
    .fifthContentCLTID{

        width: 100%;

    }
    .button{

        width: 40%;

    }
    .six{
        height: 1000px;
        width: 100%;
        background-color: #FAFAFA;
        color: #3B3D40;

    }
    .sixthContent{
        width: 100%;
        padding: 0 20px;
        padding-top: 100px;
    }
    .sixthContenT{
        font-size: 60px;
        line-height: 60px;
        font-weight: bold;
    }
    .sixthContenI{
        width: 24px;
        height: 20px;
        display: block;
        margin-top: 88px;
    }
    .sixthContenC{
        display: block;

        font-weight: bold;
        line-height: 36px;
        margin-top: 6px;
    }
    .sixthContenIB{
        display: block;
        width: 120px;
        height: 120px;
        margin-top: 125px;
        filter: grayscale(100%);
    }
    .sixthContenIB:hover{
        filter: grayscale(0%);
    }
    .sixthContenC1{
        font-size: 24px;
    }
    .sixthContenC2{
        font-size: 20px;
    }


}
@media screen and (max-width: 750px) {
    .first {
        height: 195px;
        background-size: cover;
    }
    .bg {
        background-image: url("./images/bannerM.png");
    }
    .bgC {
        background-image: url("./images/bannerMc.png");
    }
    .pointBox{
       display: none;
    }
    .second {
        padding-top: 20px;
        height: auto;
        padding-bottom: 50px;
    }
    .secongContent{
        width: 100%;
        padding: 0 16px;
    }
    .secongContentB {
        margin-top: 20px;
    }
    .secongHeaderT {
        font-size: 24px;
        line-height: 36px;
    }
    .secongHeaderB {
        font-size: 24px;
        line-height: 36px;
    }
    .secongContentBI {
        width: 24px;
        height: 24px;

    }
    .secongContentBT {
        font-size: 18px;
        color: #3B3D40;
        display: block;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .secongContentBC {
        font-size: 14px;
        line-height: 22px;
        color: #989898;
        display: block;
        width: 100%;
    }
    .third {
        height: auto;
        padding-bottom: 50px;
    }
    .
    .third:after{
        display: block;
        clear: both;
        content: '';
    }
    .thirdContent {
        width: 100%;
        padding: 0 16px;
        padding-top: 30px;
    }
    .thirdContentT {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .thirdContentC {
        font-size: 15px;
        line-height: 24px;

    }
    .thirdContentCBox{
        margin-top: 30px;
    }
    .thirdContentCBoxC {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .thirdContentCBoxC1{
        font-size: 14px;
    }
    .Hline{
        width: 80%;
        height: 1px;
        background-color: rgba(250,250,250,0.5);
        margin: 0 auto;
        margin-top: 30px;
    }
    .thirdContentCC{

        font-size: 15px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        margin-top: 30px;
    }
    .third .exchangeList:after{
        display: block;
        content: '';
        clear: both;

    }
    .third .exchangeList li{

        width: 50%;
        height: 120px;
    }
    .thirdContent .exchangeList li{
        opacity: 1;
    }
    .thirdContent .exchangeList li a{
        display: block;
        margin: 0 auto;
    }
    .thirdContent .exchangeList li a img{
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 100px;
    }
    .thirdContent .exchangeList li a img:hover  {
        margin: 0 auto;
        width: 100px;
        height: 100px;

    }
    .cir{
        width: 6px;
        height: 6px;

    }
    .more{

        font-size: 24px;

    }
    .moreBox{
        opacity: 1;
    }
    .fourth {
        height: auto;
        padding-bottom: 40px;
    }
    .fourthContent{
        width: 100%;
        padding: 0 16px;
        padding-top: 30px;
    }
    .fourthHeaderT {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .fourthHeaderC {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .fourthContentLiC{
        padding-top: 10px;
    }
    .fourthContentLiCC{
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
        line-height: 22px;
    }
    .fourthContentLi{
        margin-top: 40px;
    }
    .fourthContentLiI {
        float: none;
        margin: 0 auto;
    }
    .fourthContentLiCHS{
        font-size: 16px;

    }
    .fourthContentLiCHSL{
        font-size: 16px;

    }
    .fourthContentLiCHI{

        display: inline-block;
        margin-right: 8px;
    }
    .fourthContent .exchangeList li{

        width: 50%;
        height: 100px;
        opacity: 1;
    }

    .fourthContent .exchangeList li a{
        display: block;
        width: 100%;
    }
    .fourthContent .exchangeList li a img{
        display: block;
        margin: 0 auto;
        filter: grayscale(100%);
    }
    .fourthContent .exchangeList li a img:hover  {
        margin: 0 auto;
        width:120px;
        filter: grayscale(0%);
    }
    .iconfont{
        margin-top: 2px;
        float: right;
    }
    .fourthContentLiCHS{
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
    }
    .fourthContentLiCHSL{
        display: block;
    }
    .fourthContentLiCHA{
        display: block;
        margin: 0 auto;
        width: 46px;
        text-align: center;
        margin-top: 5px;
    }
    .logoBox{
        width:100%;
        margin-top: 20px;
    }
    .logoBox>a{
        width: 50%;
        float: left;
    }
    .logoBoxT{
       margin: 0 auto;
    }
    .fifth{
        height: 830px;
    }
    .fifthContent{
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .fifthHeaderT{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .fifthHeaderC{
        font-size: 14px;
        line-height: 20px;
        padding: 0 16px;
    }
    .fifthContentCLT{
        font-size: 14px
    }
    .fifthContentC{
        margin-top: 40px;
        padding: 0 16px;
    }
    .fifthContentCL{

        width: 100%;
    }
    .fifthContentCR{
        width: 100%;
        padding-left: 0;
    }
    .fifthContentCLTA{

        width: 100%;
        height: 180px;
        float: left;
        font: 400 18px Arial;
    }
    .fifthContentCLTI{
        width: 100%;
        height: 60px;
        float: left;
    }
    .fifthContentCLTID{

        width:100%;

    }
    .fifthContentCLTBox1{
       float: none;
    }
    .button{
        width:100%;

    }
    .six{
        width: 100%;
        background-color: #FAFAFA;
        color: #3B3D40;
        padding-bottom: 40px;
        height: auto;
    }
    .sixthContent{
        width: 100%;
        margin: 0 auto;

        padding: 0 16px;
        padding-top: 30px;
    }
    .sixthContenT{
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
    }
    .sixthContenI{
        width: 24px;
        height: 20px;
        display: block;
        margin-top: 20px;
    }
    .sixthContenC{
        display: block;

        font-weight: bold;
        line-height: 20px;
        margin-top: 20px;
    }
    .sixthContenIB{
        display: block;
        width: 120px;
        height: 120px;
        margin-top: 40px;
        filter: grayscale(100%);
    }
    .sixthContenIB:hover{
        filter: grayscale(0%);
    }
    .sixthContenC1{
        font-size: 14px;
    }
    .sixthContenC2{
        font-size: 14px;
    }


}
@media screen and (max-width: 375px) {
    .first {

        background-size: contain;
        background-position:0 0;
    }
}